<p>resident-notice works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMS</title>
  <link rel="stylesheet" href="resident-notice.component.css">
</head>
<body>
    <nav class="navbar">
        <img src="assets/images/logo.jpg" alt="logo" class="logo">
        <h2 class="sms">Society Management System</h2>
        <ul class="nav-links">
          <li><a routerLink="/after-login" class="home-button">Home</a></li>
          <li><a routerLink="/after-about" class="home-button">About</a></li>
          <li class="dropdown">
            <a class="home-button dropdown-toggle">Features</a>
            <ul class="dropdown-menu">
              <li><a routerLink="/book-parking">Book Parking</a></li>
              <li><a routerLink="/add-maintenance">Pay Maintenance</a></li>
              <li><a routerLink="/complaint">Complaint</a></li>
              <li><a routerLink="/notice">Notice</a></li>
              <li><a routerLink="/events-list">Events</a></li>
            </ul>
          </li>
          <li *ngIf="name"><a routerLink="/resident-detail" class="home-button">Hi, {{ name }}</a></li>
          <li><a routerLink="/resident-login" (click)="logout()">Logout</a></li>
        </ul>
      </nav>
  
  <div class="notice-container">
    <h2 class="notice-title">All Notices</h2>
    <div class="notice-cards">
      <div class="notice-card" *ngFor="let notice of notices">
        <p>{{ notice.content }}</p>
        <small>{{ notice.createdAt | date:'medium' }}</small>
      </div>
    </div>    
  </div>
</body>
</html>