<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="sign-in.component.css">
</head>
<body>
    <nav class="navbar">
        <img src="assets/images/logo.jpg" alt="logo" class="logo" >

        <h2 style="margin-bottom: -5px;margin-left: -650px;color:'white';">Society Management System</h2>

        <ul class="nav-links">
          <li><a routerLink="" class="home-button">Home</a></li>
          <li><a routerLink="/about" class="home-button">About</a></li>
          <li><a routerLink="/login" class="home-button">Login</a></li>
          <li><a routerLink="/register" class="home-button">SignUp</a></li>
        </ul>
      </nav>

    <div class="container">
        <h2>Login</h2>
        <!-- <form (submit)="login()">
          <input type="email" placeholder="Email" id="email" name="email" required />
          <input type="password" placeholder="Password" id="password" name="password" required />
          <button type="submit">Login</button>
        </form> -->
        <form (submit)="login()">
          <input type="email" placeholder="Email" [(ngModel)]="ucredentials.email" id="email" name="email" required />
          <input type="password" placeholder="Password" [(ngModel)]="ucredentials.password" id="password" name="password" required />
          <button type="submit">Login</button>
        </form>
        <!-- <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <label for="email">Email:</label>
          <input id="email" type="email" formControlName="email" id="email" name="email" required />

          <label for="password">Password:</label>
          <input id="password" type="password" formControlName="password" id="password" name="password" required />

          <button type="submit">Sign In</button> -->
           <!-- <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <input type="email" [(ngModel)]="ucredentials.email" name="email" required>
            <input type="password" [(ngModel)]="ucredentials.password" name="password" required>
            <button type="submit">Login</button>
            <p>Don't have an account? <a routerLink="/register">Register here</a></p>
        </form>
        <form (ngSubmit)="onSubmit()">
  <input type="email"  name="email" required />
  <input type="password" name="password" required />
  <button type="submit">Sign In</button>
</form>-->

    </div>
</body>
</html>
