<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMS</title>
  <link rel="stylesheet" href="visitor-purpose.component.css">
</head>
<body>
  <nav class="navbar">
    <img src="assets/images/logo.jpg" alt="logo" class="logo" >

    <h2 class="sms">Society Management System</h2>

    <ul class="nav-links">
      <li><a routerLink="/visitor-home" class="home-button">Home</a></li>
      <li><a routerLink="/visitor-about" class="home-button">About</a></li>
      <li class="dropdown">
        <a class="home-button dropdown-toggle">Features</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/purpose">Purpose</a></li>
          <li><a routerLink="/feedback" class="home-button">Feedback</a></li>
        </ul>
      </li>
      <li *ngIf="name">
        <a routerLink="/visitor-detail" class="home-button">Hi, {{ name }}</a>
      </li>
      <li><a routerLink="/visitor-login" (click)="logout()">Logout</a></li>
      
  
      <!--<li><a routerLink="/login" class="home-button">Logout</a></li>
      <li><a routerLink="/admin" class="home-button">Admin</a></li> -->
    </ul>
  </nav>
  <div class="notice-container">
    <h2>Visitor Entry Purpose</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label>Visitor Name</label>
        <input [(ngModel)]="form.name" name="name" readonly />
      </div>

      <div class="input-group">
        <label>Visitor Email</label>
        <input [(ngModel)]="form.email" name="email" readonly />
      </div>
  
      <div class="input-group">
        <label>Resident Block</label>
        <select [(ngModel)]="form.block" name="block" required>
            <option value="" disabled selected>Select Block</option> <!-- Placeholder -->
          <option *ngFor="let block of blocks" [value]="block">{{ block }}</option>
        </select>
      </div>
  
      <div class="input-group">
        <label>Resident Flat No</label>
        <select [(ngModel)]="form.flatNo" name="flatNo" required>
            <option value="" disabled selected>Select Flat</option> <!-- Placeholder -->
          <option *ngFor="let flat of flatNos" [value]="flat">{{ flat }}</option>
        </select>
      </div>

      
      <div class="input-group">
        <label>Purpose of Visit</label>
        <textarea [(ngModel)]="form.purpose" name="purpose" placeholder="Enter purpose..." required></textarea>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>
  