<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMS</title>
  <link rel="stylesheet" href="residents-list.component.css">
</head>
<body>
  <nav class="navbar">
    <img src="assets/images/logo.jpg" alt="logo" class="logo">

    <h2 class="sms">Society Management System</h2>

    <ul class="nav-links">
      <li><a routerLink="/admin-home" class="home-button">Home</a></li>
      <li><a routerLink="/admin-about" class="home-button">About</a></li>
      
      <!-- Dropdown for Resident -->
      <li class="dropdown">
        <a class="home-button dropdown-toggle" id="residentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Resident
        </a>
        <ul class="dropdown-menu" aria-labelledby="residentDropdown">
          <li><a class="dropdown-item" routerLink="/add-resident">Add Resident</a></li>
          <li><a class="dropdown-item" routerLink="/list-residents">List Residents</a></li>
        </ul>
      </li>

      <!-- Dropdown for Visitor -->
      <li class="dropdown">
        <a class="home-button dropdown-toggle" id="visitorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Visitor
        </a>
        <ul class="dropdown-menu" aria-labelledby="visitorDropdown">
          <li><a class="dropdown-item" routerLink="/add-visitor">Add Visitor</a></li>
          <li><a class="dropdown-item" routerLink="/list-visitor">List Visitor</a></li>
        </ul>
      </li>
      
      <!-- Dropdown for Additional Features -->
      <li class="dropdown">
        <a class="home-button dropdown-toggle" id="featuresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Features
        </a>
        <ul class="dropdown-menu" aria-labelledby="featuresDropdown">
          <li><a class="dropdown-item" routerLink="/parking-slot">Parking Slot</a></li>
          <li><a class="dropdown-item" routerLink="/reports">Reports</a></li>
          <li><a class="dropdown-item" routerLink="/list-notice">Notice</a></li>
          <li><a class="dropdown-item" routerLink="/events">Events</a></li>
          <li><a class="dropdown-item" routerLink="/maintenance">Maintenance</a></li>
          <li><a class="dropdown-item" routerLink="/chatbot">ChatBot</a></li>
          <li><a class="dropdown-item" routerLink="/list-feedback">Feedback</a></li>
          <li><a class="dropdown-item" routerLink="/list-complaint">Complaints</a></li>
          <li><a class="dropdown-item" routerLink="/purpose-list">Visitor-purpose</a></li>
        </ul>
      </li>
      
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
      <br>
<!-- Display Resident List with Images -->
<h2 *ngIf="!selectedResident" style="margin-top: 70px; color: white; text-align: center;">List of Residents</h2>
<br>
<!-- Show Residents List when no resident is selected for editing -->
<div *ngIf="!selectedResident">
  <table class="maintenance-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Apartment</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let resident of residents">
      <td>{{ resident.name }}</td>
      <td>{{ resident.email }}</td>
      <td>{{ resident.phone }}</td>
      <td>{{ resident.apartment }}</td>
      <td><img [src]="'http://localhost:5000' + resident.image" width="50" height="50" alt="Resident Image"></td>
      <td>
        <button style="margin-left:5px;background-color:yellow;" (click)="editResident(resident)">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 24 24">
            <path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2" d="M18.4,3.1L4,17.4V20h2.6L20.9,5.6V5.5L18.4,3.1L18.4,3.1z"></path><path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="2" d="M15.5,5.5l3,3"></path>
            </svg>
        </button>
        <button style="margin-left:5px;background-color:red;" (click)="deleteResident(resident._id)">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 30 30">
            <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"></path>
          </svg>
          </button>
      </td>
    </tr>
  </table>
</div>

<!-- Show Edit Component when a resident is selected -->
    <h2 *ngIf="selectedResident" style="margin-top: 50px; color: white; text-align: center;">Edit Resident</h2>
    <br>
<app-edit-resident 
  *ngIf="selectedResident" 
  [resident]="selectedResident" 
  (updateSuccess)="onUpdateSuccess()" 
  (cancelEdit)="cancelEdit()">
</app-edit-resident>


</body>
</html>